:root {
  --bg-primary-color: #830C0F;
  --bg-secondary-color: #bdb9b9;
  --bg-tertiary-color: #000000;
  --bg-menu-color: #fff;
  --font-primary-color: #fff;
  --font-secondary-color: #1E1E1E;
  --font-tertiary-color: #830C0F;
  --button-primary-color: #fff;
}
